
@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../../assets/tulayan-dormitory-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border: 5px solid white;
}