<div class="bg-blur-wrapper">
    <div class="bg-image"></div>
    <div class="container-fluid" style="position: relative; top: 50px">
        <div class="row">

            <div class="col">
                <div class="panel-transparent">
                    <h1>Terms and Conditions</h1>
                    <hr>
                    <ul>
                        <li>Need to pay full 1 month advance and 1 month deposit.</li>
                        <li>Cancelation of reservation can be made by going personally to the dormitory. </li>
                        <li>No refund through online.</li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</div>