<div class="container">

    

    
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{ last_name + ', ' + first_name }}</mat-card-title>
          <mat-card-subtitle>{{ contact }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <div class="button-row">
                <button mat-raised-button color="primary" (click)="openDialogNewBill()" >New Bill</button>
                <button mat-stroked-button (click)="goBack()">Go Back</button>
            </div>
            
        </mat-card-actions>
      </mat-card>
      
      
      
      

    

    

    

    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="table" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID"> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
            
            
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
            
            
            <ng-container matColumnDef="particular">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Particular </th>
                <td mat-cell *matCellDef="let element"> {{element.particular}} </td>
            </ng-container>
            
            
            <ng-container matColumnDef="amount_due">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount Due </th>
                <td mat-cell *matCellDef="let element"> {{element.amount_due}} </td>
            </ng-container>

            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
                <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Option </th>
                <td mat-cell *matCellDef="let element"> <button mat-stroked-button color="primary" (click)="openDialogUpdateBill(element.id)">Update</button> <button mat-stroked-button color="primary" (click)="managePayments(element.id)">Payments</button></td>
            </ng-container>
            
            
           
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

    </div>

    
</div>
  
  


        

        
    
    






              
