<h1  *ngIf="type == 'new'" mat-dialog-title>New Bill</h1>
<h1  *ngIf="type == 'update'" mat-dialog-title>Update Bill</h1>
<div mat-dialog-content>
  <p>Please provide the following details?</p>
  <p *ngIf="out">{{ out }}</p>
  


  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="bill.date" [formControl]="dateFormControl">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-error *ngIf="dateFormControl.hasError('required')">
      Date is <strong>required</strong>
    </mat-error>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Particular</mat-label>
    <mat-select  [(ngModel)]="bill.particular" [formControl]="particularFormControl">
      <mat-option *ngFor="let particular of particulars" [value]="particular.id">
        {{ particular.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="particularFormControl.hasError('required')">
      Particular is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Amount Due</mat-label>
    <input matInput  [(ngModel)]="bill.amount_due" [formControl]="amountDueFormControl">
    <mat-error *ngIf="amountDueFormControl.hasError('required')">
      Amount Due is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" >No Thanks</button>
  <button *ngIf="!amountDueFormControl.hasError('required') && !particularFormControl.hasError('required') && !dateFormControl.hasError('required') && type == 'new'" mat-raised-button color="primary"  (click)="saveBill()">Ok</button>
  <button *ngIf="!amountDueFormControl.hasError('required') && !particularFormControl.hasError('required') && !dateFormControl.hasError('required') && type == 'update'" mat-raised-button color="primary"  (click)="updateBill()">Update</button>
</div>

