<div id="rulesRegulations" class="bg-blur-wrapper">
    <div class="bg-image"></div>
    <div class="container-fluid" style="position: relative; top: 50px">
        <div class="row">

            <div class="col">
                <div class="panel-transparent">
                    <h1>Rules and Regulations</h1>
                    <hr>
                    <p>The following actions are prohibited:</p>
                    <ul>
                        <li>In dormitory, every night the main gate will be locked from 12a.m. to 6a.m. Please remain quiet inside the dormitory so that others will not be disturbed. If there is a need to go out during this time, please go to the staff to ask permission.</li>
                        <li>It is not permitted to dry clothes in the rooms, common room and areas, corridors, on the windows or around dormitory.</li>
                        <li>In the dormitory rooms, as well as common areas are not allowed to keep domestic animals such as: cats, dogs, birds, hamsters, iguana, etc.</li>
                        <li>The room should be kept clean at all times. Roommates are required to take turns cleaning the room and public spaces every day. Each floor and section should be cleaned at least once a month. Posters and banners (including those concerning elections) which are not relevant with school work are prohibited.</li>
                        <li>In the rooms is not allowed to receive outside guest(s), without permission of dormitory administration. Guests have right to sit in the lobby. It is forbidden that anyone other than dormitory resident to go to floors without prior permission. Residents do not have the right to disturb students in the oter rooms, even if they are about to visit students from other rooms, in the sense of excessive staying in rooms of other students.</li>
                        <li>Keeping in the dormitory or possessing (carrying) weapons, explosives, knifes, as well as other dangerous weapons or items that can cause injury or fatal injury, even if the have a license for those means.</li>
                        <li>It is strictly forbidden to throw anything out of the windows.</li>
                        <li>It is prohibited to play instruments, loud music, and clatter loudly in the dormitory as not to affect others studying or sleeping</li>
                    </ul>
                    <hr>
                    <h1>Terms and Conditions</h1>
                    <hr>
                    <ul>
                        <li>Need to pay full 1 month advance and 1 month deposit.</li>
                        <li>Cancelation of reservation can be made by going personally to the dormitory. </li>
                        <li>No refund through online.</li>
                    </ul>
                </div>
            </div>

            

        </div>


    </div>
</div>